.content-right {
  background: var(--color-primary);
  overflow: hidden;
  min-height: 100vh;
}

.content-logo-estudios {
  margin-top: 5rem;
  margin-bottom: 5rem;
  @include breakpoint-up(small) {
    align-items: flex-end;
    margin-right: 5rem;
  }

  @include breakpoint-up(medium) {
    margin-right: 0;
  }
}

.logo-estudios {
  max-height: 150px;
  object-fit: cover;
  @include breakpoint-up(medium) {
    margin: 0 14px 0 0;
    height: 273px;
  }
  @include breakpoint-up(large) {
    margin: 0 70px 0 0;
    height: 273px;
  }
}

.text-content {
  @include breakpoint-up(medium) {
    align-items: flex-end;
  }

  &__image {
    @include breakpoint-up(medium) {
      margin: 0 150px 0 0;
    }
  }
}

.title-h1,
.title-h2 {
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
}

.title-h1 {
  font-size: 35px;
  z-index: 2;
}

.title-h2 {
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 512px;
  line-height: 1;
  z-index: 2;

  @include breakpoint-up(small) {
    margin-bottom: 2rem;
  }
}

.clipPath {
  @include breakpoint-up(small) {
    position: absolute;
    height: 100%;
    width: 273px;
    background: white;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 19% 100%, 0% 100%);
  }
}

.arrows {
  opacity: 0;
  @include breakpoint-up(small) {
    opacity: 1;
    width: 120px;
    height: 120px;
    position: absolute;
    background-image: url("img/1x/hero-arrows.png");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 3%;
    left: 10%;
  }
}

.students {
  position: absolute;
  height: 13%;
  background-size: contain;
  background-image: url("img/1x/hero-img--persons.png");
  background-repeat: no-repeat;
  bottom: 2%;
  width: 94px;

  @include breakpoint-up(small) {
    height: 27%;
    width: 216px;
  }

  @include breakpoint-up(medium) {
    height: 24%;
    background-size: contain;
    bottom: 1%;
  }

  @include breakpoint-up(large) {
    width: 234px;
    background-size: contain;
    bottom: 7%;
  }

  @include breakpoint-up(xlarge) {
    width: 330px;
    height: 40%;
    background-size: contain;
    bottom: 7%;
  }
}

.circulo {
  height: 296px;
  width: 228px;
  position: absolute;
  bottom: 17%;
  right: -124px;
  background-image: url("img/1x/hero-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.logo-ipfe {
  width: 192px;
  height: 57px;
  //position: absolute;
  background-image: url("img/svg/logo-ipfe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  align-self: flex-end;

  @include breakpoint-up(small) {
    width: 240px;
    height: 72px;
  }
  @include breakpoint-up(medium) {
    width: 185px;
    height: 55px;
  }

  @include breakpoint-up(large) {
    width: 293px;
    height: 88px;
  }
}

.position-relative {
  z-index: 1;
}
